extends layout

block content
  h1= title
  - let names=["BMW.jpg","jeep.jpg","ship.jpg","ktm.jpg","etihad.jpg"]
  - for(let i=0;i<3;i++) {
     - let random= Math.floor(Math.random()*5)
     img(src=`/images/${names[random]}` alt=`Image Number ${random}` height="300px" width="300px")
  - }